*.sass-cache*
node_modules/
.gitattributes
sftp-config.json
new_client_setup.docx
_video
_notes
Thumbs.db
head.php
php-error.log
constants.php
vendor
composer
php-error.log
*.sql

/offline-sites/wildflowerevergreen/_email
/offline-sites/wildflowerevergreen/_MENUS
/offline-sites/wildflowerevergreen/_psd
/offline-sites/wildflowerevergreen/Abbey Beach - Files
/offline-sites/wildflowerevergreen/Bluehost - site