#msg-one {
  // cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2020;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .msg-bkg {
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0px;
  }

 .inside-msg-one {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(115,150,173,0.8);
    border: 2px solid rgba(44,73,106,1);
    border: 2px solid rgba(255,255,255,1);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.15);
    // border-radius: 8px;
    width: 80%;
    max-width: 390px;
    margin-bottom: 20px;

    i.far {
    	margin-right: 0px;
    }
	
  } 
}
.warning {
	background-color: rgba(255,0,0,0.3);
	color: #fff;
	padding: 1em;
}
.success-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.25em 0em;
	color: #fff;
	font-size: 1.2em;
}
#success-form {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	& > p {
		padding-bottom: 1em;

	}
	.sr {
		display: flex;
		width: 100%;
		// justify-content: space-around;
		// align-items: center;
	}

a.reset,
a.close,
input[name="reset-contact"].reset {
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	border: 1px solid #fff;
	padding: 1em 0em;
	text-align: center;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	margin: 0 0.5em;
	flex-grow: 1;
	width: 100%;

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
}

}

.pop-top {
	display: flex;
	background-color: rgba(32,85,137,1);
	color: #fff;
	padding: 1.2em;
	h2 {
		color: #fff;
	}

    & > a.close-pc {
    	cursor: pointer;
    	position: absolute;
    	top: 0.6em;
    	right: 1em;
    	font-size: 1.5em;
    	color: #fff;
    	z-index: 2021;

    }


}

form#pc {
	padding: 20px 35px 35px;
	cursor: default;
	// width: 100%;




.pc-errors {
	// display: block;
	background-color: rgba(255,0,0,0.2);
	color: #fff;
	padding: 1.5em;
	border-bottom: 1px solid #fff;
	margin-bottom: 1em;
}



	label {
		display: block;
		color: #313131;
		margin: 1em 0 0.2em 0;
		font-size: 1.2em;
		color: #fff;
		font-family: inherit;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		padding: 0.5em;
		display: block;
		border-radius: 5px;
		color: #757575;
		font-size: 1.2em;
	}
	input[type="text"],
	input[type="email"] {
		width: 95%;
		&.fixerror {
			background-color: red;
			color: #fff;
		}
	}
	textarea {
		width: 96%;
		height: 6em;
		resize: none;
		&.fixerror {
			background-color: red;
			color: #fff;
		}
	}
	.pc-btns {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-top: 1em;
	}
	input[type="reset"],
	input[type="submit"] {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		padding: 1em 0em;
		color: #fff;
		background-color: rgba(4,55,88,0.7);
		border: 1px solid #fff;
		text-align: center;
		font-size: 1.2em;
		cursor: pointer;
		font-family: inherit;
		line-height: inherit;
	}
	input[type="reset"] {
		margin-right: 0.5em;
		&:hover {
			background-color: rgba(161,44,44,1);
		}	
	}

	input[type="submit"]:hover {
		background-color: rgba(61,153,65,1);
	}
}

@media screen and (max-width: 600px) {
  #msg-one {
    .msg-bkg {
      justify-content: flex-start;
      overflow-y: auto;
      padding-top: 50px;
      padding: 50px 0px 0px;
    }
    .inside-msg-one {
      padding: 45px 25px 50px;
      width: 92%; 
      margin-bottom: 120px;
      & > i {
        top: 10px;
        right: 10px;
      }           
      p.aa-link {
        
      }
      p.info-links {
        margin-bottom: 2em;
        & > a {
        
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #msg-one {
    .msg-bkg {
      // padding: 0px;
    }
    .inside-msg-one {
      p.aa-link {
        margin-bottom: 3em;
      }
    }
  } 
}