div#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222;
  // background: url(_images/social-background-dark.jpg) no-repeat fixed center;
  // background-size: cover;
  width: 100%;
  color: #fff;
  padding: 60px 15px;
  position: relative;
  box-sizing: border-box;
  #intro-container {
    position: relative;
    // width: 100%;
    // max-width: 1100px;
    display: inline-block;
    margin: 50px auto;
    background: #222;
    padding: 20px 10px 20px 10px;
    border-radius: 12px;
    h1 {
      margin-top: 40px;
      text-align: center;
      font-size: 2em;
      font-family: Dolce-Vita, 'Muli', sans-serif;
    }
    h2 {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 55px;
    }
    #facebook-block { 
      float: left;
      text-align: center; 
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding: 10px;  
      #facebook-container {
          width: 100%;
          max-width: 500px;
          margin: 0px 20px 0px 0px;
          border: 1px solid #fff;
          box-shadow: -6px 6px 15px -6px rgba(0,0,0,0.75);
        }
      }
    #instagram-block { 
      float: right;
      text-align: center; 
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding: 10px;
      #instagram-container {
          width: 100%;
          max-width: 500px;
          height: 502px;
          overflow-y: scroll;
          border: 1px solid #fff;
      }
    }
    p {
        margin-bottom: 1em;
        line-height: 1.4em;
      }
  }
}
@media screen and (max-width: 1100px) {
  div#intro {
    #intro-container {
      #facebook-block {
          float: none;
          display: inline-block;
          max-width: 100%;
          margin: 0 auto 30px auto;
          #facebook-container {
            margin: 0 auto;
            // width: 96%;
          }
        }
    #instagram-block {
          float: none;
          display: inline-block;
          max-width: 100%;
          margin: 0 auto;
          #instagram-container {
            margin: 0 auto;
            // width: 96%;
          }
        }
    }
  }
}