#social {
	image-rendering: -webkit-optimize-contrast;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background: url(_images/social-background-dark.jpg) no-repeat fixed center;
	background: url(_images/evergreen-lake.jpg) no-repeat fixed center;
  	background-size: cover;
	padding-top: 80px;
	padding-bottom: 100px;
	color: #fff;
	text-align: center;
	#social-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 20px 20px 50px 20px;
		width: 100%;
		// max-width: 1100px;
		background-color: #222;
		background-color: rgba(34,34,34,0.7);
		h1 {
	      margin-top: 40px;
	      text-align: center;
	      font-size: 2em;
	      font-family: Dolce-Vita, 'Muli', sans-serif;
	    }
	    h2 {
	      text-align: center;
	      font-size: 1.2em;
	      margin-bottom: 25px;
	    }
	    p.social-intro {
	    	margin-bottom: 35px;
	    }
	    #social-format {
	    	width: 100%;
	    	max-width: 1050px;
	    	padding-bottom: 50px;
	    	border-left: 1px solid orange;
	    	border-right: 1px solid orange;
			#facebook-block {
				float: left;
				text-align: center;
				width: 50%;
				// background-color: blue;
				p {
					color: #fff;
					line-height: 2em;
				}
				#facebook-container {
					width: 100%;
					max-width: 500px;
					margin: 0 auto;
					border: 1px solid #fff;
				}
			}
			#instagram-block {
				float: right;
				text-align: center;
				width: 50%;
				// background-color: red;
				p {
					color: #fff;
					line-height: 2em;
				}
				#pixlee_container {
					width: 100%;
					max-width: 500px;
					max-height: 502px;
					margin: 0 auto;
	          		overflow-y: scroll;
	          		border: 1px solid #fff;
				}
			}
		}
	}
}
img.social-img {
	width: 100%;
	max-width: 50px;
}
@media screen and (max-width: 1075px) {
	#social {
		#social-container {
			flex-direction: column;
			#social-format {
				border-right: none;
				border-left: none;
				#facebook-block {
					width: 100%;
					float: none;
					margin: 0 auto;
				}
				#instagram-block {
					width: 100%;
					float: none;
					margin: 40px auto 0;
				}
			}
		}
	}
}
@media screen and (max-width: 800px) {
	#social {
		background: url(_images/evergreen-lake.jpg) no-repeat center;
	  	background-size: auto 100%;
	  	background-attachment: scroll;
	  	min-height: 100vh;
	}	
}