// breakpoint set to 680px
@media screen and (min-width: 681px) {
/* begin large navigation */
  nav {
    width: 100%;
    background-color: #444;
    position: fixed;
    top: 0;
    ul {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      font-family: Calibri;
      background-color: #444;
      display: flex;
      flex-direction: column;
      li {
        list-style-type: none;
        a {
          padding: .8em 1em;
          display: block;
          text-decoration: none;
          color: #f9f9f9; 
          &:hover {
            background: rgba(0,0,0, .25);
          }       
        }
      }
    }
  }
  .arrow {
    font-family: FontAwesome;
    float: right;
  }
  .arrow-down::after {
    content: "\f107";
  }
  .arrow-right::after {
    content: "\f105";
  }
  .closebtn {
    display: none;
  }
}
@media only screen and ( max-width: 680px ) {
  .has-children ul li a {
    padding-left: 2em;
  } 
  .has-children ul .has-children ul a {
    padding-left: 2em;
  }
  .arrow-down::after {
    content: "\f107";
  }
}
@media only screen and ( min-width: 680px ) {
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: left;
  }
  .has-children ul, .has-children ul .has-children ul {
    display: none;
    width: 100%;
    position: absolute;
  }
  .has-children ul .has-children ul {
    left: 100%;
    top: 0;
  }
  nav ul li:hover ul,  .has-children ul .has-children:hover ul {
    display: flex;
    flex-direction: column;
  }
}
/* ^^ concludes large navigation */



/* begin mobile navigation */
@media screen and (min-width: 681px) {
  span.mobile-toggle img {
    display: none;
  }
}

@media screen and (max-width: 680px) {
/* The side navigation menu */
  nav {
    font-family: Calibri;
    ul ul {
      margin-left: 1em;
    }
    #sidenav-wrapper {
      position: absolute;
      top: 50px;
      right: 0px;
      width: 300px; // match JS width
      padding-left: 12px;
      padding-right: 12px;
      box-sizing: border-box;
    }
  }
  .arrow {
    font-family: FontAwesome;
    float: right;
  }
  .arrow-down::after {
    content: "\f107";
  }
  .arrow-right::after {
    content: "\f107";
  }

  span.mobile-toggle {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9998;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 50px;
    }
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    //padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }


  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -40px;
    right: 10px;
    font-size: 36px;
    padding: 0px 10px;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and ( max-height: 450px ) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}