#some-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-family: Calibri;
  width: 100%;
  height: 60px;
  background-color: #6ba1dd;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.4);
  color: #fff;
  ul {
    display: flex;
    position: relative;
    // justify-content: space-around;
    // justify-content: space-between;
    // justify-content: space-space-evenly;
    justify-content: center;


    li {
      position: relative;
      a {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 20px;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          background-color: #fff;
          color: blue;
        }
      }
      ul { // dropdown hide
        display: none;
        position: absolute;
        background-color: green;
        li {
          position: relative;
          // width: 150px;
          ul {
            display: none;
            position: absolute;
            background-color: gray;
          }
          a {
            background-color: red;
            &:hover {
              background-color: green;
              color: #fff;
            }
          }
          &:hover ul {
            display: flex;
            flex-direction: column;
          }
        }
      }
      &:hover ul { // dropdown reveal
        display: flex;
        flex-direction: column; 
      }
    } 
  }
}


nav {
  width: 100%;
  background-color: #444;
}
nav ul {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: Calibri;
  background-color: #444;
  display: flex;
  flex-direction: column;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  padding: .8rem 1rem;
  display: block;
  text-decoration: none;
  color: #f9f9f9;
}
nav ul li:hover {
  background: rgba(0,0,0, .25);
}

.arrow {
  font-family: FontAwesome;
  float: right;
}
.arrow-down::after {
  content: "\f107";
}
.arrow-right::after {
  content: "\f105";
}


@media only screen and (max-width:480px) {
  .has-children ul li a {
    padding-left: 2rem;
  }
  
  .has-children ul .has-children ul a {
    padding-left: 3rem;
  }
  .arrow-down::after {
    content: "\f107";
  }
}

@media only screen and (min-width:480px) {
  nav ul {
    flex-direction: row;
/*     justify-content: flex-end; */
  }
  nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: left;
  }
  .has-children ul, .has-children ul .has-children ul {
    display: none;
    width: 100%;
    position: absolute;
  }
  .has-children ul .has-children ul {
    left: 100%;
    top: 0;
  }
  nav ul li:hover ul,  .has-children ul .has-children:hover ul {
     display: flex;
     flex-direction: column;
  }
  
}